<header class="main-header">
    <section>
        <img class="logo-nav" src="/assets/logo-nav.svg" alt="">
    </section>
    <nav class="main-header__menu">
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/biblioteca">A Biblioteca</a>
            </li>
            <li>
                <a routerLink="/doacao">Como doar?</a>
            </li>
            <li>
                <a routerLink="/contato">Contato</a>  
            </li>
        </ul>
    </nav>
</header>
