<footer class="footer">
    <div class="footer__container">
        <section>
           <img class="img-footer" src="/assets/logo-footer.svg" alt=""> 
        </section>
        <section class="address__container">
            <h2 class="footer__title">Acompanhe</h2>
            <ul>
                <li>
                    <a href="https://www.facebook.com/bibliotecapopulardocoque" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bpcoque/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/bpcoque" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </section>
    </div>
    <section class="footer_copyright">
        <h3>&copy; Todos os direitos reservados. Desenvolvido por <a href="https://www.linkedin.com/in/rafael-andrade-354143218/" target="_blank">Rafael Andrade</a></h3>
    </section>
</footer>
