<section class="promova-container">
    <img class="img-promova" src="/assets/img-doar.jpg" alt="menina abrindo o baú">
    <div class="promova-text">
        <h2 class="promova-title">Promova a leitura</h2>
        <p id="promova-content">Realize uma única doação ou faça doações mensais e torne-se um amigo ou amiga da biblioteca, ajudando-nos a democratizar o acesso à leitura e à informação em nossa comunidade.</p>
        <p id="promova-conta">Faça um PIX usando a nossa chave ou o QR-code</p>
        <div class="promova-info-pix">
            <div class="pix-container">
                <p id="pix-title">Chave PIX</p>
                <p id="pix-chave">10.695.494/0001-20</p>
            </div>
            <img src="" alt="">
        </div>
    </div>
</section>

<section class="voluntario-container">
    <h2>Seja voluntário(a)</h2>
    <p>Você trabalha com artes e cultura? É mediador(a) de leitura ou contador(a) de histórias? Gosta de promover oficinas e cursos? Seja um voluntário(a) da biblioteca e compartilhe com nossos leitores!</p>
    <a routerLink="/contato">Contate-nos >>></a>
</section>

<section class="doe-livros-container">
    <div class="doe-livros-content">
        <div class="doe-livros-title">
            <h2>Doe livros</h2>
            <p>1. Aceitamos somente livros literários, seja infantil, juvenil ou adulto.</p>
            <p>2. Quando não-literários, damos prioridades a livros com temáticas sobre arte, cultura, educação, direitos humanos, feminismo, cultura africana ou afro-brasileira e diversidade.</p>
            <p>3. Não aceitamos livros didáticos, revistas ou enciclopédias devido às suas desatualizações em um curto período de tempo.</p>
            <p>4. Os livros devem ser entregues em nosso espaço. Para mais informações, entrar em contato por nossas redes sociais.</p>
        </div>
        <div class="atento-title">
            <h2>Fique atento</h2>
            <p>Para uma boa leitura e para preservar a saúde do acervo e dos nossos leitores, ao doar um livro verifique se faltam páginas, se estão riscados, rasgados, mofados, ou quaisquer outras avarias que impeçam uma boa leitura.</p>
        </div>
    </div>
</section>
