
    <h2 class="contact__title">Entre em contato</h2>
    <section class="contact-form-container">
        <form action="https://formsubmit.co/bpcoque@gmail.com" method="POST" class="contact-form">
            <input type="text" name="name" placeholder="Informe o seu nome" required>
            <input type="email" name="email" placeholder="Digite o seu e-mail" required>
            <textarea name="message" placeholder="Digite a sua mensagem"></textarea>
            <button type="submit">Enviar</button> 
        </form>
    <div class="container-horario-loc">
        <address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.14246218655!2d-34.89904!3d-8.072324!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x33a778b912fe3c96!2sBiblioteca%20Popular%20do%20Coque!5e0!3m2!1spt-BR!2sbr!4v1654341374809!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p> R. Ibiporã, 260 - São José, Recife - PE, 50080-500</p>
        </address>
        <div class="container-horario">
            <h2>Horário de funcionamento</h2>
            <small>segunda a sexta</small>
            <small>das 8h às 18h</small>
        </div>
    </div>
</section>
