<section class="container-banner">
    <div class="banner-text">
        <h2>Democratizando o acesso à leitura e à informação como um direito humano</h2>
    </div>
    <div class="img-wrapper">
        <img src="/assets/img-banner2.jpg" alt="">
    </div>
</section>
<section class="numeros">
    <div class="numeros-container">
        <div class="numeros-elements">
            <div class="numeros-info">
                <i class="fa-solid fa-book-open-reader"></i>
                <h2>560</h2>
                <p>leitores cadastrados</p>
            </div>
            <div class="numeros-info">
                <i class="fa-solid fa-book"></i>
                <h2>2145</h2>
                <p>acervo</p>
            </div>
            <div class="numeros-info">
                <i class="fa-solid fa-people-arrows-left-right"></i>
                <h2>860</h2>
                <p>média de leitores atendidos/mês</p>
            </div>
        </div>
    </div>
<h1>Dados de 2022</h1>
</section>
